<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mi.ur.de.android.runnersmeetup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_runnersmeetup"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RMU_Main"
            android:label="Run"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".Trainingsuebersicht"
            android:label="Trainingsübersicht"
            android:parentActivityName=".NavigationDrawer" />

        <service
            android:name=".CalculatorService"
            android:enabled="true" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Settings"
            android:label="Einstellungen"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName=".NavigationDrawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Einstellungen"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".FriendsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Veranstaltungen"></activity>
    </application>

</manifest>