<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mi.ur.de.android.runnersmeetup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_runnersmeetup"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RMU_Main"
            android:label="Run"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".TrainingOverviewActivity"
            android:label="Trainingsübersicht"
            android:parentActivityName=".NavigationDrawer" />

        <service
            android:name=".CalculatorService"
            android:enabled="true" />

        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".Settings"
            android:label="Einstellungen"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".EventsActivity"
            android:label="Veranstaltungen"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".SuggestionsActivity"
            android:label="Vorschläge"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".FriendsProfil"
            android:label="Profil"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".FriendsActivity"
            android:label="Freunde"
            android:parentActivityName=".NavigationDrawer" />
    </application>

</manifest>